[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simplejson = "*"
cattrs = "*"
cryptography = "*"
certvalidator = "*"
paho-mqtt = "*"
aiohttp = "*"
requests = "*"

[dev-packages]
pytest = "*"
callee = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
sphinx = "*"
sphinx-autodoc-typehints = {editable= true, git="https://github.com/agronholm/sphinx-autodoc-typehints.git"}
sphinx-jsonschema = "*"
sphinx_rtd_theme = "*"
aiohttp-swagger = "*"
nano-python = "*"
coverage = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
